        img.logo {
            margin-top: 8px;
            height: 40px;
        }
        
        div.menuHeader h3 {
            color: #09f;
            margin-top: 16px;
        }
        
        div.menuHeader {
            margin: 5px;
            display: flex;
            gap: 10px;
            position: relative;
        }
        
        #navigationHeader {
            width: 100%;
            height: 4vh;
            box-sizing: border-box;
        }
        
        .rightPosition {
            display: flex;
            gap: 5px
        }
        
        .rightPosition h3 {
            min-width: 180px;
            min-height: 30px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #328fc5;
            border-radius: 5px;
            text-align: center;
            color: #09f;
        }
        
        #navigationHeader {
            display: flex;
            min-width: 875px;
            position: relative;
        }
        
        .rightPosition .ad {
            background-color: #09f;
            color: white;
        }
        
        #navigationHeader h4 {
            margin: 8px 2px 2px 0px;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px 5px 0px 0px;
            text-align: center;
            background-color: #605d5d;
            color: white;
        }
        
        #navigationHeader h4.rent {
            background-color: white;
            color: #328fc5;
            border-left: 1px solid #328fc5;
            border-right: 1px solid #328fc5;
            border-top: 1px solid #328fc5;
        }
        
        .imagRentAcar {
            width: 20px;
        }
        
        #colorLineHeader {
            width: 100%;
            height: 4px;
            background-color: #328fc5;
        }
        
        #navigationHeader h4.rent:hover {
            background-color: white;
            transform: scaleY(1.15);
        }
        
        .imgCar,
        #navigationHeader h4,
        .menuHeader h3,
        img {
            cursor: pointer;
        }
        
        .rightPosition,
        #myAd {
            position: absolute;
            right: 0;
            top: 0;
        }
        
        #myAd:hover {
            background-color: #328fc5;
        }
        
        #myAd:hover {
            padding-bottom: 10px;
        }
        
        #navigationHeader h4:hover {
            margin: 8px 2px 0px 0px;
            background-color: #328fc5;
        }